<!-- footer开始 -->
<footer class="footer" th:fragment="shop-footerbar">
    <div class="container">
        <div class="row">
            <div class="conten-footer">
                <div class="logo-footer">
                    <img src="img/logo22.png" alt="">
                </div>
            </div>
            <div class="main-text-footer">
                <div class="footerleft col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-left">
                        <h3>Flower power</h3>
                        <p>花开静谧无声，但是它的芳菲会使我们驻足停留;花落悄然无息，或许它的那份飘逸会使我们凝眉深思。岁月如花，笑看花开，静赏花落是人生的一种极致。</p>
                        <ul class="logos">
                            <li><a href=""><i class="iconfont">&#xe61d</i></a></li>
                            <li><a href=""><i class="iconfont">&#xe63e</i></a></li>
                            <li><a href=""><i class="iconfont">&#xe6b7</i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="footerleft col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="footer-center">
                        <div class="work-time">
                            <h3>Work Time</h3>
                            <div class="main-time">
                                <span class="time1">Monday  -  Friday </span>
                                <span class="time1"> ：09:00 -------------- 23:00</span>
                            </div>
                            <div class="main-time">
                                <span class="time1">Saturday - Sunday  </span>
                                <span class="time1"> ：11:00 ------------ 23:00</span>
                            </div>
                            <br>
                            <div class="main-time">
                                <span class="time1">系统管理人员QQ                                        : </span>
                                <span class="time1"> - - - -  18347347874</span>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="footerleft col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-right1">
                        <h3>Menu categories</h3>
                        <div class="main-categories" th:each="kind:${allKind}">
                            <p class="text" th:text="${kind.getName()}">香槟玫瑰</p>
                        </div>
                    </div>
                </div>

                <div class="footerleft col-lg-2 col-md-2 col-sm-6 col-xs-12">
                    <div class="footer-right1">
                        <h3>quick links</h3>
                        <div class="main-categories lianjie">
                            <a th:href="@{/}"><p class="text">首页</p></a>
                            <a th:href="@{/shop}"><p class="text">鲜花商城</p></a>
                            <a th:href="@{/user/login}"><p class="text">登录账号</p></a>
                            <a th:href="@{/shop/flower/flowerCart}"><p class="text">我的购物车</p></a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</footer>

