<div class="modal fade" id="modal-exit" th:fragment="modal-exitbar">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="padding: 8px 10px 10px 10px; margin-left: -10px;margin-right: 320px;margin-top: 2px;">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">温馨提示</h4>
            </div>
            <div class="modal-body">
                <p id="modalTips">您还没有选择任何数据，请至少选择一项&hellip; 我要退出</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button id="btnModalOk"  type="button" class="btn btn-primary">确定</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>