@import url("base.css");

header {
    width: 100%;
    transition: all 1s ease;
    background: url('../img/bg.png');
}

header .logo {
    padding-top: 17px;
    display: block;
}

header .logo img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    /* padding-bottom: 100%; */
    overflow: hidden;
}

.head-right .nav1 .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.head-right .nav1 .main-nav a {
    color: #333;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 14px;
}

.head-right .nav1 .main-nav a:hover {
    color: #E3A5BF;
}


.head {
    width: 100%;
    display: none;
    background: url('../img/bg.png');
}

.head .nav2 .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.head .nav2 .main-nav li {
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: center;
}

.head .nav2 .main-nav li a {
    color: #333;
}

.head-right .nav1 .main-nav li:nth-of-type(2) a {
    color: #E3A5BF;
}


/* 添加的类--固定 */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    border-bottom: 2px solid #E3A5BF;
    z-index: 199;
}

.head .nav2 .main-nav.active {
    border-bottom: 1px solid #ccc;
}

/* 侧导航开始 */
.aside {
    width: 100%;
    background: url('../img/bg.png');
    display: none;
}

.aside > li {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}

.aside > li:last-child {
    padding-bottom: 10px;
}

.aside > li a {
    color: #474747;
}

.aside.active {
    display: block;
}

.aside > li:nth-of-type(2) a {
    color: #E3A5BF;
}

.aside > li a:hover {
    color: #E3A5BF;
}


/* 图开始 */
.banner-img {
    width: 100%;
    position: relative;
}

.banner-img .container {
    padding: 0;
}

.big-img[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.big-img2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.big-img {
    background: url("../img/shop-banner.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.big-img .text-center {
    font-family: "Great Vibes", "Comic Sans MS", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}


.section-mulu {
    border-bottom: 1px solid #ddd;
    margin-bottom: 90px;
}

.section-mulu .mulu li {
    float: left;
    font-size: 16px;
    line-height: 60px;
    color: #333;
}

.section-mulu .mulu li span {
    margin: 20px;
    color: #E3A5BF;
}

.section-mulu .mulu li:nth-of-type(2) {
    color: #E3A5BF;
}

/* 最新优惠开始 */
.section-price {
    margin-top: 90px;
    /* background: #fff; */
}

.why-top .text-center {
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
    margin-left: 0;
    letter-spacing: 0.05em;
}

.section-price .why-top i {
    display: block;
    color: #E3A5BF;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 40px;
    transition: all 1s ease;
    cursor: default;
}

.section-price .why-top .icon i:hover {
    transform: rotate(360deg);
}


/* 花语详情开始 */
.section-huayu {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.section-huayu ul {
    height: auto;
}

.section-huayu li[class*="col-"] {
    /*  padding-left: 0; */
    padding-right: 0;
}

.section-huayu li {
    float: left;
    margin-bottom: 15px;
}

.section-huayu li .xqa {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.section-huayu img {
    display: block;
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.section-huayu .zhezhao {
    width: 100%;
    height: 100%;
    position: absolute;
    top: -100%;
    right: -100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    padding: 50px 30px;
    text-align: center;
}

.section-huayu .zhezhao h4 {
    color: #fff;
    font-size: 20px;
    line-height: 46px;
}

.section-huayu .zhezhao p {
    color: #f2f2f2;
    font-size: 14px;
    line-height: 30px;
}

.section-huayu .zhezhao a {
    color: #E3A5BF;
    line-height: 20px;
}


/* footer开始 */
.footer {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #474747;
    margin-top: 90px;
}

.footer .conten-footer .logo-footer {
    text-align: center;
    margin-bottom: 80px;
}

.conten-footer .logo-footer img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.main-text-footer p {
    margin-bottom: 50px;
}

.main-text-footer .logos li {
    float: left;
}

.main-text-footer .logos li a i {
    color: #E3A5BF;
    font-size: 30px;
    padding-right: 10px;
    line-height: 30px;
}

.footer-center .work-time {
    margin-bottom: 50px;
}

.footer h3 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.your-email {
    width: 100%;
}

.input-email {
    height: 40px;
    line-height: 40px;
    color: #757575;
    padding: 20px;
    width: 70%;
    float: left;
    border: 1px solid #b7b7b7;
    border-right: 0;
    outline: none;
}

.submit {
    width: 30%;
    float: left;
    height: 42px;
    position: relative;
}

.input-submit {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    z-index: 5;
    background-color: #E3A5BF;
}

.footer .text {
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 0;
}

.footerleft {
    margin-bottom: 40px;
}

.lianjie a p:hover {
    color: #E3A5BF;
    transition: all 0.5s ease;
    transform: translateX(8px);
}






