@import url('base.css');

/* 工作时间、登录、注册  */
/* .top{
	background: #FFD1E5;
}

 .top .title2 a{
	font-size: 14px;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 3;
    letter-spacing: 0;
    color: #fff;
}
.top .title2{
	display: flex;
	flex-direction: row-reverse;
}
 */

/* 头部开始 */
header {
    width: 100%;
    transition: all 1s ease;
    background: url('../img/bg.png');
}

header .logo {
    padding-top: 17px;
    display: block;
}

header .logo img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    /* padding-bottom: 100%; */
    overflow: hidden;
}

.head-right .nav1 .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.head-right .nav1 .main-nav a {
    color: #333;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 14px;
}

.head-right .nav1 .main-nav a:hover {
    color: #E3A5BF;
}

.head-right .nav1 .main-nav li:nth-of-type(1) a {
    color: #E3A5BF;
}
.head-right .nav1 .main-nav li:nth-of-type(4) a {
    color: #E3A5BF;
}
.head {
    width: 100%;
    display: none;
    background: url('../img/bg.png');
}

.head .nav2 .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.head .nav2 .main-nav li {
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: center;
}

.head .nav2 .main-nav li a {
    color: #333;
    cursor: pointer;
}

/* 添加的类--固定 */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    border-bottom: 2px solid #E3A5BF;
    z-index: 199;
}

.head .nav2 .main-nav.active {
    border-bottom: 1px solid #ccc;
}

/* 侧导航开始 */
.aside {
    width: 100%;
    background: url('../img/bg.png');
    display: none;
}

.aside > li {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}

.aside > li:last-child {
    padding-bottom: 10px;
}

.aside > li a {
    color: #474747;
}

.aside.active {
    display: block;
}

.aside > li:first-child a {
    color: #E3A5BF;
}

.aside > li a:hover {
    color: #E3A5BF;
}


/* 搜索 */
/* .main-nav .sousuo{
	border: 1px solid #333;
	border-radius: 6px;
}
.main-nav .sousuo input{
	border: none;
	outline: none;
	padding: 0 8px;
}

.main-nav .sousuo i{
	padding: 0 8px;
} */


/* banner大图开始 */
.section-banner {
    height: 792px;
    position: relative;

}

/* .section-banner .container{
	padding:0;
	position: relative;
} */
/* .section-banner li[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
} */
.big-img {
    position: relative;
}

.section-banner ul {
    width: 100%;
}

.section-banner ul li {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.section-banner ul li img {
    width: 100%;
    height: 100%;
    display: none;
}

.section-banner ul li:first-of-type img {
    display: block;
}


/* 按钮 */
.btn-left {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -20px;
}

.btn-right {
    width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -20px;
}


/* 欢迎 */
.section-welcome {
    height: auto;
    overflow: hidden;
    padding: 90px 0;
}

.about-img img {
    width: 100%;
    height: auto;
    vertical-align: top;
}

.mb-1 {
    color: #E3A5BF;
    line-height: 1.2;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
}

.mtn-2 {
    font-weight: 400;
    font-size: 40px;
    margin-left: 65px;
    margin-top: 20px;
}

.about-text p {
    margin-top: 60px;
    font-weight: 400;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0em;
    color: #474747;
    font-size: 15px;
    margin-bottom: 40px;
}

.about-text p:nth-of-type(1) {
    margin-bottom: 0px;
}

.about-text p:nth-of-type(2) {
    margin-top: 10px;
}

.about-text .title4 {
    color: #E3A5BF;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .05em;
    transition: all 0.5s ease;
}

.about-text a:hover {
    font-size: 20px;
    font-weight: 900;
}


/* 最新优惠开始 */
.section-price {
    margin-bottom: 90px;
}

.text-center {
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    margin-top: 0;
    margin-left: 0;
    letter-spacing: 0.05em;
}

.section-price .why-top i {
    display: block;
    color: #E3A5BF;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
    line-height: 40px;
    transition: all 1s ease;
    cursor: default;
}

.section-price .why-top .icon i:hover {
    transform: rotate(360deg);
}

.section-price .products {
    /* width: 100%; */
    float: left;
    padding: 0;
    position: relative;

}

.section-price ul li a {
    display: block;
    overflow: hidden;
    border: 3px solid #f1eeea;
    position: relative;
}

.section-price .products a .hot {
    position: absolute;
    width: 38px;
    height: 38px;
    right: 12px;
    top: 12px;
    background: #f76b6a;
    border-radius: 50%;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    font-weight: 700;
    color: #fff;
    font-size: 12px;

}

.section-price .products a img {
    display: block;
    width: 100%;
    height: auto;
    vertical-align: top;
}

.section-price .products .money, .section-price .products .des {
    font-size: 16px;
    line-height: 26px;
    /* color:#E3A5BF ; */
    font-weight: 600;
    text-align: center;
}


.section-price .products .zhezhao {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(89, 88, 88, 0.38);
    display: none;
    transition: all 0.5s ease;
}

.section-price .products .zhezhao .zz {
    /* background: skyblue; */
    width: 100%;
    position: absolute;
    top: 50%;
    margin-top: -20px;
    left: 0;
    display: flex;
    justify-content: space-between;
}

.section-price .products .zhezhao .zz i {
    transition: all 0.5s ease;
}

.section-price .products .zhezhao:hover .zz i:nth-of-type(1) {
    transform: translateX(70px);
}

.section-price .products .zhezhao:hover .zz i:nth-of-type(2) {
    transform: translateX(-70px);
}

.section-price .products .zhezhao i {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
}

.section-price .products .zhezhao i:hover {
    border: 2px solid #fff;
    font-size: 30px;
}


/* footer开始 */
.footer {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #474747;
    margin-top: 90px;
}

.footer .conten-footer .logo-footer {
    text-align: center;
    margin-bottom: 80px;
}

.conten-footer .logo-footer img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.main-text-footer p {
    margin-bottom: 50px;
}

.main-text-footer .logos li {
    float: left;
}

.main-text-footer .logos li a i {
    color: #E3A5BF;
    font-size: 30px;
    padding-right: 10px;
    line-height: 30px;
}

.footer-center .work-time {
    margin-bottom: 50px;
}

.footer h3 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.your-email {
    width: 100%;
}

.input-email {
    height: 40px;
    line-height: 40px;
    color: #757575;
    padding: 20px;
    width: 70%;
    float: left;
    border: 1px solid #b7b7b7;
    border-right: 0;
    outline: none;
}

.submit {
    width: 30%;
    float: left;
    height: 42px;
    position: relative;
}

.input-submit {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    z-index: 5;
    background-color: #E3A5BF;
}

.footer .text {
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 0;
}

.footerleft {
    margin-bottom: 40px;
}

.lianjie a p:hover {
    color: #E3A5BF;
    transition: all 0.5s ease;
    transform: translateX(8px);
}


@media screen  and (max-width: 768px) {
    .head {
        display: block;
    }

    header {
        display: none;
    }

    .section-banner .container {
        width: 100%;
    }

    .mb-1 {
        font-size: 20px;
    }

    .mtn-2 {
        font-size: 20px;
    }

    .section-banner {
        height: 400px;
    }

}

@media screen and (max-width: 992px) and (min-width: 768px) {
    .head {
        display: block;
    }

    header {
        display: none;
    }

    .section-banner .container {
        width: 100%;
    }

    .mb-1 {
        font-size: 30px;
    }

    .mtn-2 {
        font-size: 30px;
    }

    .section-banner {
        height: 507px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    header {
        display: block;
    }

    .head {
        display: none;
    }

    .section-banner .container {
        width: 100%;
    }

    .mb-1 {
        font-size: 36px;
    }

    .mtn-2 {
        font-size: 36px;
    }


    .section-banner {
        height: 616px;
    }


}

@media screen  and (min-width: 1200px) {
    header {
        display: block;
    }

    .head {
        display: none;
    }

    .section-banner .container {
        width: 100%;
    }
}

.footer-bottom {
    background-color: #FFD1E5;
    margin-bottom: 0;
    text-align: center;
    color: #fff;
    line-height: 55px;
    margin-top: 40px;
}