@import url("base.css");

header {
    width: 100%;
    transition: all 1s ease;
    background: url('../img/bg.png');
}

header .logo {
    padding-top: 17px;
    display: block;
}

header .logo img {
    max-width: 100%;
    height: auto;
    vertical-align: top;
    /* padding-bottom: 100%; */
    overflow: hidden;
}

.head-right .nav1 .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
}

.head-right .nav1 .main-nav a {
    color: #333;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 14px;
}

.head-right .nav1 .main-nav a:hover {
    color: #E3A5BF;
}


.head {
    width: 100%;
    background: url('../img/bg.png');
}

.head .nav2 .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 0;
}

.head .nav2 .main-nav li {
    font-weight: 700;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0em;
    font-size: 14px;
    text-align: center;
}

.head .nav2 .main-nav li a {
    color: #333;
}

.head-right .nav1 .main-nav li:nth-of-type(3) a {
    color: #E3A5BF;
}


/* 添加的类--固定 */
.fixed {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0 auto;
    left: 0;
    border-bottom: 2px solid #E3A5BF;
    z-index: 199;
}

.head .nav2 .main-nav.active {
    border-bottom: 1px solid #ccc;
}

/* 侧导航开始 */
.aside {
    width: 100%;
    background: url('../img/bg.png');
    display: none;
}

.aside > li {
    font-size: 14px;
    font-weight: 600;
    padding-top: 10px;
    text-align: center;
}

.aside > li:last-child {
    padding-bottom: 10px;
}

.aside > li a {
    color: #474747;
}

.aside.active {
    display: block;
}

.aside > li:first-child a {
    color: #E3A5BF;
}

.aside > li a:hover {
    color: #E3A5BF;
}


/* 图开始 */
.banner-img {
    width: 100%;
    position: relative;
}

.banner-img .container {
    padding: 0;
}

.big-img[class*="col-"] {
    padding-left: 0;
    padding-right: 0;
}

.big-img2 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.big-img {
    background: url("../img/shop-banner.png");
    background-position: center center;
    background-repeat: no-repeat;
}

.big-img .text-center {
    font-family: "Great Vibes", "Comic Sans MS", cursive, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 46px;
    line-height: 1.5;
    letter-spacing: 0;
    color: #fff;
    text-align: center;
    padding-bottom: 100px;
    padding-top: 100px;
}


.section-mulu {
    border-bottom: 1px solid #ddd;
    margin-bottom: 90px;
}

.section-mulu .mulu li {
    float: left;
    font-size: 16px;
    line-height: 60px;
    color: #333;
}

.section-mulu .mulu li span {
    margin: 20px;
    color: #E3A5BF;
}

.section-mulu .mulu li:nth-of-type(3) {
    color: #E3A5BF;
}

/* 商品详情开始 */
.xiangqing .container {
    background: #f2f2f2;
}

.xq-left {
    padding: 30px 30px 15px;
    background: #f2f2f2;
}

.xiangqing .products {
    margin: 0 0 50px 0;
    /* float: left;
    width: 100%; */
}

.xiangqing .products h3 {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #392a25;
    margin-bottom: 30px;
}

.xq-left .xinpin li {
    border-bottom: 0;
    float: left;
    width: 100%;
    padding: 15px 0;
}

.xq-left .xinpin li a {
    display: block;
    font-weight: 400;
    color: #474747;
}

.xq-left .xinpin li a img {
    width: 80px;
    height: 80px;
    border: 2px solid #f1eeea;
    float: left;
    margin: 0 20px 0 0;
}

.xq-left .xinpin li a img:hover {
    border: 2px solid #E3A5BF;
}

.xq-left .xinpin li a:hover {
    color: #E3A5BF;
}

.xq-left .xinpin li del {
    color: #cbcac8;
    line-height: 40px;
}

.xq-left .xinpin li ins {
    color: #E3A5BF;
    text-decoration: none;
    line-height: 40px;
}


.xq-right {
    padding: 30px;
}

.xq-right .left1 img {
    display: block;
    width: 100%;
    height: auto;
    box-shadow: none;
    border: 3px solid #f1eeea;
}

.xq-right .left2 h3 {
    margin-top: 5px;
    color: #474747;
    font-size: 34px;
    margin-bottom: 20px;
    font-weight: 400;
}

.xq-right .left2 .products-price {
    color: #5fbd74;
    font-size: 1.25em;
    margin-bottom: 30px;
}

.xq-right .left2 .products-price del {
    opacity: .5;
    color: #cfcecc;
    font-size: 15px;
}

.xq-right .left2 .products-price span {
    font-size: 24px;
    color: #E3A5BF;
    font-weight: 700;
}

.xq-right .left2 p {
    color: #474747;
}

.xq-right .left2 .cart {
    margin-bottom: 20px;
    padding: 30px 0 0 0;
    border-width: 1px 0 0 0;
    border-style: solid;
    border-color: #f1eeea;
}

.xq-right .left2 .cart .number {
    max-width: 120px;
    height: 40px;
    line-height: 1;
    border: 1px solid #f1eeea;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 10px;
    display: inline-block;
    background: #fbfaf9;
    float: left;
    margin: 0 10px 0 0;
}

.xq-right .left2 .cart .number .icon1 {
    float: left;
}

.xq-right .left2 .cart .number .text {
    float: left;
    border: 0;
    line-height: 1;
    height: auto;
    padding: 0 10px;
    background: none;
    width: 3.631em;
    text-align: center;
}

.xq-right .left2 .cart button {
    padding: 12px 29px;
    border: 1px solid;
    border-radius: 3px;
    background: #E3A5BF;
    color: #fff;
    font-size: 15px;
    line-height: 1;
    font-weight: bold;
    letter-spacing: .05em;
}

.products-tool a {
    font-weight: 400;
    display: inline-block;
    margin-right: 50px;
    color: #474747;
    padding: 10px;
}

.products-tool a i {
    margin-right: 10px;
}

/* footer开始 */
.footer {
    line-height: 24px;
    font-weight: 400;
    font-size: 14px;
    color: #474747;
    margin-top: 90px;
}

.footer .conten-footer .logo-footer {
    text-align: center;
    margin-bottom: 80px;
}

.conten-footer .logo-footer img {
    display: inline-block;
    max-width: 100%;
    height: auto;
}

.main-text-footer p {
    margin-bottom: 50px;
}

.main-text-footer .logos li {
    float: left;
}

.main-text-footer .logos li a i {
    color: #E3A5BF;
    font-size: 30px;
    padding-right: 10px;
    line-height: 30px;
}

.footer-center .work-time {
    margin-bottom: 50px;
}

.footer h3 {
    letter-spacing: 0;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
}

.your-email {
    width: 100%;
}

.input-email {
    height: 40px;
    line-height: 40px;
    color: #757575;
    padding: 20px;
    width: 70%;
    float: left;
    border: 1px solid #b7b7b7;
    border-right: 0;
    outline: none;
}

.submit {
    width: 30%;
    float: left;
    height: 42px;
    position: relative;
}

.input-submit {
    position: absolute;
    width: 100%;
    height: 100%;
    border-color: transparent;
    color: #fff;
    text-transform: uppercase;
    z-index: 5;
    background-color: #E3A5BF;
}

.footer .text {
    line-height: 32px;
    font-weight: 400;
    font-size: 16px;
    color: #474747;
    margin-bottom: 0;
}

.footerleft {
    margin-bottom: 40px;
}

.lianjie a p:hover {
    color: #E3A5BF;
    transition: all 0.5s ease;
    transform: translateX(8px);
}